# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode/settings.json
.vscode/launch.json
.vscode/
*.db
.settings/
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.buildship.core.prefs
logs/

